[Unit]
Description=Tiny HTTP Process Manager
After=network.target
[Service]
Type=simple
User=HGCAL_pro
WorkingDirectory=/
ExecStart=/usr/bin/tiny_process_manager --port 8899
Restart=on-failure

[Install]
WantedBy=multi-user.target